

.navigation {
    display: flex;
    justify-content: space-around;
    font-size: 30px;
    list-style: none;
}

.navLink {
    color: white;
    font-weight: bold;
}

.navLink:visited {
    color: white;
}






/*
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/
