
.app {
    background-color: #a65959;
    padding-bottom: 100px;

    &-navig {
        display: flex;
        justify-content: space-around;
        font-size: 30px;
        list-style: none;



        &-link {
            color: white;
            font-weight: bold;

            &:visited {
                color: white;
            }
        }
    }

}







/*
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/
